{% extends "base.html" %}

{% load materializecss %}

{% block title %}Log-in{% endblock %}

{% block content %}

    <h1>Login</h1>
    {% if form.errors %}
        <p>Your username or password is incorrect. Please try again.</p>
    {% else %}
        <p>Please use the following form to log-in:</p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form|materializecss }}
            <input type="hidden" name="next" value="{{ next }}"/>
            <button class="btn waves-effect waves-light" type="submit" value="Log-in">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

{% endblock %}