{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h2>Reset your password</h2>
            <small class="text-primary">Please enter your new password twice, don't make a mistake now!</small>
        </div>
    </div>

    {% if validlink %}
        <div class="row mt-4">
            <div class="col form-group">
                <form action="." method="POST">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit" value="Change my password">Change Password!</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row mt-4">
            <div class="col">
                <p>The password reset link was invalid, has it already been used by one of the bad guys?
                    Please request a new password reset quickly!</p>
            </div>
        </div>
    {% endif %}
{% endblock %}