{% extends "base.html" %}

{% load materializecss %}

{% block title %}Update your password{% endblock %}

{% block content %}
    <h1>Change your password</h1>
    <p>Please use the form to become even more secure. Well done!</p>
    <form action="." method="POST">
        {{ form|materializecss }}
        <button class="btn waves-effect waves-light" type="submit" value="Change">Change It!
            <i class="material-icons right">send</i>
        </button>
        {% csrf_token %}
    </form>
{% endblock %}