{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}Update your password{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h2>
                Change your password<br>
                <small class="text-primary">Please use the form to become even more secure. Well done!</small>
            </h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col form-group">
            <form action="." method="POST">
                {{ form|crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit" value="Change">Change It!</button>
            </form>
        </div>
    </div>
{% endblock %}