{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Reset your password{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h2>Reset your password</h2>
            <p>We've emailed you instructions for setting your password. If you're legit, cool!</p>
            <p>If you don't receive an email, please make sure you haven't been silly and typed the wrong one.
                Alternatively you can check how (un)-effective your spam filter is?</p>
        </div>
    </div>

    <div class="row mt-4">
          <div class="col">
              <p><a href="{% url 'user_dashboard' %}">Click here to get back to your dashboard</a></p>
          </div>
    </div>

{% endblock %}