{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}Edit your account{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h2>
                {{ request.user }}, do you need to edit your details?<br>
                <small class="text-primary">Make any changes to your profile below</small>
            </h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col form-group">
            <!-- multipart is to enable file uploads - profile picture -->
            <form action="." method="POST" enctype="multipart/form-data">
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                {% csrf_token %}
                <h5 class="text-danger">** Please ensure date of birth is in YYYY-MM-DD format e.g. 1970-03-05</h5>
                <button class="btn btn-secondary" type="submit" value="Save Changes">Save your changes</button>
            </form>
        </div>
    </div>

{% endblock %}