{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h2>
                Welcome on board {{ new_user.first_name }}!<br>
                <small class="text-primary"><a
                        href="{% url "login" %}">Your account has been successfully created. Now you can log in.</a></small>
            </h2>
        </div>
    </div>

{% endblock %}