{% extends 'base.html' %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}Update my Bug{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h2>
                Update my Bug<br>
                <small class="text-primary">Anything to change about your bug report?</small>
            </h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col form-group">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary" type="submit" value="Update">Confirm Updates</button>
                <br>
                <p class="mb-1 mt-4">I've changed my mind, this bug is as good as it gets!</p>
                <a href="{% url 'all_bugs' %}" class="btn btn-danger mb-4">CANCEL!</a>
            </form>
        </div>
    </div>

{% endblock %}