{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <h2>The Official Teleportation Bug Tracker</h2>
            <div class="divider"></div>
        </div>
    </div>

    <div class="row">
        <div class="col s3">
            <a href="{% url 'create_bug_report' %}"
               class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="right"
               data-tooltip="Report new bug">
                <i class="material-icons">report_problem</i></a>
        </div>
        <div class="col s9">
            <nav class="deep-purple">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="row bug-cards">
        {% for bug in bugs %}
            <div class="col s12 l6">
                <div class="card">
                    <div class="card-content purple lighten-4">
                        <span class="card-title">{{ bug.title }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{% url "bug_detail" bug.id %}">
                            <button class="btn-floating btn waves-effect waves-light deep-purple">
                                <i class="material-icons">border_color</i></button>
                        </a>
                        <a href="#">
                            <span class="new badge" data-badge-caption="Votes">{{ bug.user_votes }}</span>
                            <button class="btn-floating btn waves-effect waves-light">
                                <i class="material-icons right">thumb_up</i>Vote
                            </button>
                        </a>
                    </div>
                    <ul class="collection">
                        <li class="collection-item">
                            <p>Created by: <strong>{{ bug.author }}</strong>, on {{ bug.created }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}