{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}Bugs{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h4 class="ml-3">
                Bugs<br>
                <small class="text-primary">Issues with your teleportation experience? Report them here!</small>
            </h4>
        </div>
    </div>

    <!-- Bug list toolbar -->
    <div class="row bug-toolbar">
        <div class="col-sm-12 d-flex justify-content-between">
            <a href="{% url 'create_bug_report' %}"
               data-placement="bottom"
               data-toggle="tooltip" title=""
               data-original-title="Create New Bug"
               class="btn btn-secondary"
               role="button"><i class="fas fa-plus-circle fa-2x"></i></a>
            <a href="{% url 'bug_search' %}"
               data-placement="bottom"
               data-toggle="tooltip" title=""
               data-original-title="Search for Bugs"
               class="btn btn-secondary"
               role="button"><i class="fas fa-search fa-2x"></i></a>
        </div>
    </div>

    <!-- Bug list -->
    <div class="container-fluid bug-list-container">
        <ul class="list-group">
            {% for bug in bugs %}
                <!-- Bugs will include resolved until they are archived by site admins -->
                {% if not bug.archived %}
                    <li class="list-group-item">
                        <div class="row bug-list-item-container">
                            <div class="col-2 col-md-2">
                                <i class="fas fa-bug fa-2x
                                              {% if bug.severity == 'Low' %} text-info
                                              {% elif bug.severity == 'Medium' %} text-warning
                                              {% elif bug.severity == 'High' %} text-secondary
                                              {% else %} text-danger
                                              {% endif %}"
                                   data-placement="bottom"
                                   data-toggle="tooltip" title=""
                                   data-original-title="Severity: {{ bug.severity }}">
                                </i>
                            </div>
                            <div class="col-10 col-md-7 align-self-center flex-sm-grow-1">
                                <h6 class="font-weight-bold"><a href="{% url "bug_detail" bug.id %}">{{ bug.title }}</a>
                                </h6>
                            </div>
                            <div class="col-12 col-md-3 d-flex">
                                <div class="bug-status-icon mr-2 pt-2 pt-md-0">
                                    <i class="fas fa-comments fa-lg text-secondary"></i>
                                    <span class="badge badge-secondary badge-pill bg-primary">{{ bug.comments.count }}</span>
                                </div>
                                <div class="bug-status-icon pt-2 pt-md-0">
                                    <i class="fas fa-thumbs-up fa-lg text-secondary"
                                       data-placement="bottom"
                                       data-toggle="tooltip" title=""
                                       data-original-title="View bug details to vote!"></i>
                                    <span class="badge badge-secondary badge-pill bg-primary">{{ bug.votes.count }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row bug-list-item-footer mt-2">
                            <div class="col-6 col-md-3">
                                <span class="badge badge-{% if bug.status == 'Open' %}secondary{% elif bug.status == 'Active' %}info{% elif bug.status == 'Testing' %}warning{% else %}success{% endif %}">STATUS: {{ bug.status }}</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <span class="badge badge-primary">Created: {{ bug.created }}</span>
                            </div>
                            <div class="col-11 col-md-2">
                                <span class="badge badge-info">By: <em>{{ bug.author }}</em></span>
                            </div>
                            <div class="col-1">
                                {% thumbnail bug.author.profile.photo "24x24" crop="center" as im %}
                                    <a class="nav-link pt-0 pb-0 pl-0 pr-1" href="#">
                                        <img class="rounded" alt="Profile Picture" src="{{ im.url }}"
                                             width="{{ im.width }}"
                                             height="{{ im.height }}">
                                    </a>
                                {% endthumbnail %}
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="row bug-pages">
        <div class="col-12 ml-3">
            {% include 'pagination.html' with page=bugs %}
        </div>
    </div>
{% endblock %}