{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Bug Report{% endblock %}

{% block content %}

    <h2>Discovered a bug in our teleportation system?</h2>
    <p class="text-primary">Please enter as much information as possible on the issue:</p>

    <form action="." method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit" value="Save bug report">Save bug report</button>
    </form>

    <!-- THIS MAY NO LONGER BE REQUIRED WITH BOOTSTRAP - TO VERIFY -->
{#    <script>#}
{#        document.addEventListener('DOMContentLoaded', function () {#}
{#            var elems = document.querySelectorAll('select');#}
{#            var instances = M.FormSelect.init(elems);#}
{#        });#}
{#    </script>#}

{% endblock %}