{% extends 'base.html' %}

{% block title %}Features{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h2>
                Features<br>
                <small class="text-primary">Here are the list of current features. You can request one here too!</small>
            </h2>
        </div>
    </div>

    <!-- Features toolbar -->
    <div class="row feature-toolbar mt-4 mb-4">
        <div class="col-sm-12 d-flex justify-content-between">
            <a href="{% url 'request_feature' %}"
               data-placement="bottom"
               data-toggle="tooltip" title=""
               data-original-title="Request New Feature"
               class="btn btn-secondary"
               role="button"><i class="fas fa-plus-circle fa-2x"></i></a>
            <a href="{% url 'feature_search' %}"
               data-placement="bottom"
               data-toggle="tooltip" title=""
               data-original-title="Search for Existing Features"
               class="btn btn-secondary"
               role="button"><i class="fas fa-search fa-2x"></i></a>
        </div>
    </div>

    <!-- Features list -->
    {% for feature in features %}
        {% if feature.status != 'Resolved' %}
            <div class="card mb-3">
                <h3 class="card-header"><a href="{% url "feature_detail" feature.id %}">{{ feature.title }}</a></h3>
                <div class="card-body">
                    <h5 class="card-title">Status: <span
                            class="badge badge-{% if feature.status == 'Requested' %}secondary{% elif feature.status == 'Implementing' %}warning{% elif feature.status == 'Testing' %}info{% else %}success{% endif %}">{{ feature.status }}</span>
                    </h5>
                    <h6 class="card-subtitle text-muted">{{ feature.author }}, {{ feature.created }}</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ feature.description|truncatewords:25 }}</p>
                </div>
                <div class="card-body d-flex justify-content-between">
                    <div class="feature-status-icon"><i class="fas fa-cart-plus fa-2x text-primary"
                                                     data-placement="bottom"
                                                     data-toggle="tooltip" title=""
                                                     data-original-title="Contributions so far!"></i>
                        <span class="badge badge-secondary badge-pill bg-secondary">{{ feature.purchases }}</span>
                    </div>
                    <div class="feature-status-icon">
                        <i class="fas fa-money-bill-wave fa-2x text-secondary"
                           data-placement="bottom"
                           data-toggle="tooltip" title=""
                           data-original-title="Cost per contribution"></i>
                        <span class="badge badge-secondary badge-pill bg-primary">£{{ feature.price }}</span>
                    </div>
                    <div class="feature-status-icon">
                        <i class="fas fa-comments fa-2x text-secondary"></i>
                        <span class="badge badge-secondary badge-pill bg-primary">{{ feature.comments.count }}</span>
                    </div>
                </div>
                {#                <div class="card-footer text-muted">#}
                {#                    Something#}
                {#                </div>#}
            </div>
        {% endif %}
    {% endfor %}

    <div class="row feature-pages">
        <div class="col-12">
            {% include 'pagination.html' with page=features %}
        </div>
    </div>

{% endblock %}