{% extends 'base.html' %}

{% block title %}Features{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h2 class="ml-3">
                Features<br>
                <small class="text-primary">Here are the list of current features. You can request one here too!</small>
            </h2>
        </div>
    </div>

    <!-- Features toolbar -->
    <div class="row feature-toolbar">
        <div class="col-sm-12 d-flex justify-content-between">
            <a href="{% url 'request_feature' %}"
               data-placement="bottom"
               data-toggle="tooltip" title=""
               data-original-title="Request New Feature"
               class="btn btn-secondary"
               role="button"><i class="fas fa-plus-circle fa-2x"></i></a>
            <a href="{% url 'feature_search' %}"
               data-placement="bottom"
               data-toggle="tooltip" title=""
               data-original-title="Search for Existing Features"
               class="btn btn-secondary"
               role="button"><i class="fas fa-search fa-2x"></i></a>
        </div>
    </div>

    <!-- Features list -->
    {% for feature in features %}
        <div class="card mb-3">
            <h3 class="card-header">{{ features.title }}</h3>
            <div class="card-body">
                <h5 class="card-title">Status: {{ features.status }}</h5>
                <h6 class="card-subtitle text-muted">{{ features.author }}, {{ features.created }}</h6>
            </div>
            <div class="card-body">
                <p class="card-text">{{ features.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    {% endfor %}

{% endblock %}