{% extends 'base.html' %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}Feature Search{% endblock %}

{% block content %}

    {% if query %}

        <!-- Heading -->
        <div class="row section-heading mb-4">
            <div class="col">
                <h2>Features containing {{ query }}</h2>
                <h5>
                    {% with results.count as total_results %}
                        Found {{ total_results }} result{{ total_results|pluralize }}
                    {% endwith %}
                </h5>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <ul class="list-group">
                    {% for feature in results %}
                        <li class="list-group-item">
                            <a href="{{ feature.get_absolute_url }}">{{ feature.title }}</a>
                            {{ feature.description|truncatewords:6 }}
                        </li>

                    {% empty %}
                        <li class="list-group-item">
                            <a href="{% url "feature_search" %}">Nothing found. Please try searching again.</a>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>

    {% else %}

        <!-- Heading -->
        <div class="row section-heading">
            <div class="col">
                <h2>Search for Features</h2>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col form-group">
                <form action="." method="GET">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit" value="Search">Search</button>
                </form>
            </div>
        </div>

    {% endif %}

{% endblock %}