{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

<nav class="deep-purple lighten-5" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img class="responsive-img" alt="brand logo"
                                                                src="{% static "images/teleport64px.png" %}"></a>
        {% if request.user.is_authenticated %}
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!"><i class="material-icons left left">dashboard</i> My Dashboard</a></li>
                <li><a href="#!"><i class="material-icons left">report_problem</i> My Bugs</a></li>
                <li><a href="#!"><i class="material-icons left">where_to_vote</i> My Feature Votes</a></li>
            </ul>
        {% endif %}
        <ul class="right hide-on-med-and-down">
            <li><a href="#"><i class="material-icons left">info</i> About Us</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="#"><i class="material-icons left">bug_report</i>Bugs</a></li>
                <li><a href="#"><i class="material-icons left">widgets</i>Features</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">My Teleport<i
                        class="material-icons left right">arrow_drop_down</i></a></li>
            {% endif %}
        </ul>
        <ul id="nav-mobile" class="sidenav">
            {% if request.user.is_authenticated %}
                <li><a href="#"><i class="material-icons left">dashboard</i> My Dashboard</a></li>
                <li><a href="#"><i class="material-icons left">bug_report</i>Bugs</a></li>
                <li><a href="#"><i class="material-icons left">bug_report</i> My Bugs</a></li>
                <li><a href="#"><i class="material-icons left">widgets</i>Features</a></li>
                <li><a href="#"><i class="material-icons left">where_to_vote</i> My Feature Votes</a></li>

            {% endif %}
            <li><a href="#"><i class="material-icons left">info</i> About Us</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons left purple-text">menu</i></a>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static "js/init.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>
