{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

<nav class="deep-purple lighten-5" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'user_dashboard' %}" class="brand-logo"><img class="responsive-img"
                                                                                         alt="brand logo"
                                                                                         src="{% static "images/teleport64px.png" %}"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#"><i class="material-icons left">info</i>About Us</a></li>
            <li><a href="#"><i class="material-icons left">widgets</i>Features</a></li>
            <li><a href="{% url "all_bugs" %}"><i class="material-icons left">bug_report</i>Bugs</a></li>
            <!-- Change login/logout link depending on auth status -->
            {% if request.user.is_authenticated %}
                <li><a href="{% url "logout" %}">Hey {{ request.user.first_name }}! <strong>Logout</strong></a></li>
            {% else %}
                <li><a href="{% url "login" %}"><strong>Log-in</strong></a></li>
            {% endif %}
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="#"><i class="material-icons left">dashboard</i> My Dashboard</a></li>
            <li><a href="{% url "all_bugs" %}"><i class="material-icons left">bug_report</i>Bugs</a></li>
            <li><a href="#"><i class="material-icons left">widgets</i>Features</a></li>
            <li><a href="#"><i class="material-icons left">info</i> About Us</a></li>
            <li class="divider"></li>
            <!-- Change login/logout link depending on auth status -->
            {% if request.user.is_authenticated %}
                <li><a href="{% url "logout" %}">Hey {{ request.user.first_name }}! <strong>Logout</strong></a></li>
            {% else %}
                <li><a href="{% url "login" %}"><strong>Log-in</strong></a></li>
            {% endif %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons left purple-text">menu</i></a>
    </div>
</nav>

<!-- Floating Button -->
<div class="col s12">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a href="{% url 'user_dashboard' %}" class="btn-floating blue"><i class="material-icons"></i>My
                Dashboard</a></li>
            <li><a href="#" class="btn-floating green"><i class="material-icons">where_to_vote</i></a></li>
            <li><a href="{% url 'create_bug_report' %}" class="btn-floating red"><i class="material-icons">report_problem</i></a>
            </li>
        </ul>
    </div>
</div>

<!-- Section to deal with Django messages -->
<div class="container">
    {% if messages %}
        <ul class="messages collection">
            {% for message in messages %}
                <li class="collection-item active {{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="white close"> X</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static "js/init.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

<script>
    // Script for floating button
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            direction: 'top'
        });
    });
</script>

</body>
</html>
