{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ bug.title }}{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h3>{{ bug.title }}</h3>
        <p>{{ bug.description }}</p>
        <hr class="my-4">
        <div class="bug-details row">
            <div class="col-9">
                <p>Current status: {{ bug.status }}</p>
                <small>Created by: <strong>{{ bug.author }}</strong>, on {{ bug.created }}</small>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                {% with total_votes=bug.votes.count users_vote=bug.votes.all %}
                    <!-- If the user is the author, disallow removal of their vote -->
                    <a href="#" data-id="{% if request.user == bug.author %}DISABLED{% endif %}{{ bug.id }}"
                       data-action="{% if request.user in users_vote %}un{% endif %}vote"
                       class="vote btn btn-secondary">
                        <i class="fas fa-2x vote-icon {% if request.user not in users_vote %}fa-thumbs-up{% else %}fa-thumbs-down{% endif %}"></i>
                    </a>
                    <span class="badge badge-primary badge-pill vote-count align-self-start mt-2 ml-2">
                                        <span class="total">{{ total_votes }}</span>
                                        vote{{ total_votes|pluralize }}
                    </span>
                {% endwith %}
            </div>
        </div>
        {% if request.user == bug.author or request.user.is_staff %}
            <hr class="my-4">
            <h4>Bug Owner Danger Zone...</h4>
            <br>
            <span class="lead">
                <a class="btn btn-primary btn-lg" href="{% url "bug_edit" bug.id %}" role="button">Edit</a>
            </span>
            <span class="lead">
                <a class="btn btn-danger btn-lg" href="{% url 'bug_delete' bug.id %}" role="button">*Delete</a>
            </span>
        {% endif %}
    </div>

    <!-- Comment cards -->
    <div class="list-group">
        {% for comment in comments %}

            <div class="list-group-item list-group-item-action flex-column align-items-start active mb-4">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.author }}</h5>
                    <small>{{ comment.created }}</small>
                </div>
                <p class="mb-1 mt-4">{{ comment.comment|linebreaks }}</p>
            </div>

        {% empty %}
            <div class="alert alert-dismissible alert-secondary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">No Comments!</h4>
                <p class="mb-0">There are no comments yet... could this mean the bug isn't real?</p>
            </div>

        {% endfor %}
    </div>

    {% include 'pagination.html' with page=comments %}

    <form action="." method="POST">
        <legend>Add a new comment</legend>
        {{ bug_comment_form|crispy }}
        {% csrf_token %}
        <button class="btn btn-secondary mb-4" type="submit" value="Add comment">Add comment</button>
    </form>

{% endblock %}