{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ bug.title }}{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h3>{{ bug.title }}</h3>
        <p>{{ bug.description }}</p>
        <hr class="my-4">
        <div class="bug-details row">
            <div class="col-6">
                <p>Current status: {{ bug.status }}</p>
                <small>Created by: <strong>{{ bug.author }}</strong>, on {{ bug.created }}</small>
            </div>
            <div class="col-6">
                    {% with total_votes=bug.votes.count users_vote=bug.votes.all %}
                        <a href="#" data-id="{{ bug.id }}"
                           data-action="{% if request.user in users_vote %}un{% endif %}vote"
                           class="vote btn">
                            <i class="fas fa-2x text-secondary
                                 {% if request.user not in users_vote %}fa-thumbs-up
                                 {% else %}fa-thumbs-down"{% endif %}></i>
                        </a>
                        <span class="badge badge-secondary badge-pill vote-count">
                                        <span class="total">{{ total_votes }}</span>
                                        vote{{ total_votes|pluralize }}
                    </span>
                    {% endwith %}
            </div>
        </div>
        {% if request.user == bug.author %}
            <hr class="my-4">
            <h4>Bug Owner Danger Zone...</h4>
            <br>
            <span class="lead">
                <a class="btn btn-primary btn-lg" href="{% url "bug_edit" bug.id %}" role="button">Edit</a>
            </span>
            <span class="lead">
                <a class="btn btn-danger btn-lg" href="{% url 'bug_delete' bug.id %}" role="button">*Delete</a>
            </span>
        {% endif %}
    </div>

    <!-- Comment cards -->
    <div class="row">
        {% for comment in comments %}

            <div class="card">
                <div class="card-content blue lighten-2">
                        <span class="card-title">Comment from <em>{{ comment.author }}</em>,
                            <small>created on: {{ comment.created }}</small></span>
                </div>
                <div class="card-action">
                    <p>{{ comment.comment|linebreaks }}</p>
                </div>
            </div>
        {% empty %}
            <p>There are no comments yet... how sad :-(</p>

        {% endfor %}

        {% include 'pagination.html' with page=comments %}
    </div>

    <h4>Add a new comment</h4>
    <form action="." method="POST">
        {{ bug_comment_form|crispy }}
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit" value="Add comment">Add comment</button>
    </form>

{% endblock %}