{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Service Statistics{% endblock %}

{% block content %}

    <!-- Heading -->
    <div class="row section-heading">
        <div class="col-12">
            <h2>
                Teleportation Inc. Stats and Status Information<br>
                <small class="text-primary">Here you will find information on our roadmap and current service
                    stats</small>
            </h2>
        </div>
    </div>

    <!-- Features toolbar -->
    <div class="row service-status-toolbar mt-4 mb-4">
        <div class="col-sm-12">
            <div class="alert alert-success d-flex justify-content-between mb-0">
                <p class="mb-0"><strong>Service Status: </strong></p>
                <i class="fas fa-battery-full fa-2x"></i>
            </div>
        </div>
    </div>

    <!-- Implemented Features List -->
    <div class="card border-secondary mb-3">
        <div class="card-body">
            <h4 class="card-title text-center">Implemented Roadmap Features</h4>
            <ul class="list-group list-group-item-action">
                {% for feature in implemented_features %}
                    <li class="list-group-item text-center text-secondary">
                        <div class="d-flex align-items-center justify-content-between">
                            <span><a href="{% url 'feature_detail' feature.id %}">{{ feature }}</a></span>
                            <span>{{ feature.description|truncatewords:10 }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}